[Unit]
Description=PSQL Watchdog
Wants=psql-watchdog.timer

[Service]
User=postgres
Group=postgres
Type=oneshot
ExecStart=/bin/bash -c 'source /etc/pve/psql/profile;bash "$PSQL_SCRIPTS/watchdog.sh"'

[Install]
WantedBy=multi-user.target