[Unit]
Description=PSQL Watchdog
Wants=psql-watchdog.timer

[Service]
Type=oneshot
ExecStart=/var/lib/postgresql/watchdog.sh

[Install]
WantedBy=multi-user.target