[Unit]
Description=A replication manager, and failover management tool for PostgreSQL
After=network.target postgresql.service
PartOf=postgresql.service
RequiresMountsFor=/etc/pve/psql /data/psql

[Service]
Type=forking

EnvironmentFile=/etc/pve/psql/env
PIDFile=/run/repmgrd/pid

User=postgres
Group=postgres

ExecStartPre=+/bin/mkdir -p /run/repmgrd
ExecStartPre=+/bin/chown postgres:postgres /run/repmgrd
ExecStart=/bin/bash -c 'source /etc/pve/psql/profile;repmgrd -p /run/repmgrd/pid -d'
ExecStop=/bin/kill -TERM ${MAINPID}
ExecReload=/bin/kill -HUP ${MAINPID}
TimeoutSec=60
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target